@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-user-drag: none;
  user-select: none;
}

img,
video {
  pointer-events: auto;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;     /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;             /* Safari and Chrome */
  }
}